<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div class="library">
    <h1>Articles on IEEE Conference</h1>

    <% @articles.each do |article| %>
        <div class="entry">
            <h3><%= article.title %></h3>
            <%= sanitize(article.abstract) %>
            <div class="nameline">
                <span class="name"><%= article.name %></span>
                <span class="affiliation"><%= article.affiliation %></span>
            </div>
        </div>
    <% end %>
</div>